@media only screen and (max-width: 992px){

    .container{
       
        max-width: 992px;
        margin: 0 auto;
    }
    


    .header__logo {
        margin-right: 100px;
    }
    
    .navbar {
        margin-right: 75px;
    }

   
    .footer__contacts {
        display: flex;
        justify-content: space-evenly;
        width: 340px;
    }

}



@media only screen and (max-width: 480px){
    .container {
        max-width: 421px;
        margin: 0 auto;
    }

    .header {
        padding-top: 40px;
        height: 90px;
    }

    .header__inner {
        height: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    
    .navbar{
        display: none;
    }

    .header__icons{
        display: none;

    }

    .search{
        display: none;
    }

    .nav__button{
        display: block;
        border: none;
        background: none;
        font-size: 48px;
    }

   
    
    .wrapper {
        width: 390px;
    }
    
    
    .footer{
        padding: 30px;

    }

    .footer__col2{
        display: none;
    }

    .footer__col3{
        display: none;
    }

    .footer__contacts {
        display: flex;
        justify-content: space-evenly;
        width: 75px;
        flex-direction: column;
    }

    .footer__contacts {
        display: flex;
        justify-content: space-evenly;
        width: 75px;
        height: 195px;
        flex-direction: column;
        
    }
}