@font-face {
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Trade-Gothic-Font/Trade\ Gothic\ LT\ Condensed\ No.\ 18.ttf') format('ttf');
}

@font-face {
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Trade-Gothic-Font/Trade\ Gothic\ LT.ttf') format('ttf');
}


  
body{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-size: 14px;
    color: #000000;
    
    background-color: #FFFFFF;
    position: relative;
}

*,
*:after,
*:before
{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  text-decoration: none;
  list-style: none;
}


.container{
    width: 100%;
    max-width: 1528px;
    margin: 0 auto;
}

.header{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
   position: absolute;
   height: 100px;
   padding-top: 65px;
}

.header__inner{

    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    height: 100%;
    margin-right: 367px;
}

/*NAVIGATION*/
.navbar{
    height: 100%;
    width: 597px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-right: 267px;
}


.navbar a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.navbar a:hover {
    background-size: 100% 2px;
}

.navlink{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.08em;
    display: inline-block;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
    position: relative;
}


.nav__button{
    display: none;

}




/*SEARCH*/

.search{
    position: relative;
    width: 120px;
    height: 33.68px;
    background: #EBEBEB;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 18px;
}

.search .search__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 28px;
    background: #EBEBEB;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    
    cursor: pointer;
}

.search .search__icon::before{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    border: 1.3px solid #000000;
    transform: rotate(-5.38deg);
}

.search .search__icon::after{
    content: '';
    position: absolute;
    width: 6.21px;
    height: 0.84px;
    background:  #000000;
    transform: translate(7px,8px) rotate(244deg);
}

.search .input{
    position: relative;
    width: 120px;
    height: 33.68px;
    left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #EBEBEB;
    padding-right: 45px;
    padding-left: 0;
}

/*HEADER ICONS*/
.header__icons{
    position: relative;
    width: 60px;
    height: 22px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}


.intro{
    height: 450px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.intro__inner{
    max-width: 900px;
    margin: 0 auto;
    height: 400px;
    display: flex;
    align-items: center;
    align-content: center;

    flex-direction: column;
    justify-content: center;
}

.intro h1{
    font-size: 80px;
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 700;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0 0 20px;
}

.intro h4{
    height: 30px;

    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 113.5%;
    text-align: center;
    margin: 0 0 20px;
}


a{
    color: #FFFFFF;
}


.intro__btn{
    display: inline-block;
    vertical-align: middle;
    font-family: 'TradeGothic LT CondEighteen';
    font-weight: 900;
    font-size: 25px;
    line-height: 113.5%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color:  #000000;
    border-radius: 70px;
    border: none;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}




/*SLIDER*/

.slider__inner{
    position: relative;
    max-width: 1528px;
    margin: 0 auto;
}

.slides{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 5px 20px -4px rgba(0, 0, 0, 0.4);
}
   
.slides img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider__nav{
    display: flex;
    column-gap: 16px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.slider__nav a{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider__nav a:hover{
    opacity: 1;
}    

/*catalog*/

.catalog{
    width: 100%;
    height: 750px;
    
    padding: 100px 0 50px;
   
}


.catalog__inner{
   
    width: 100%;
   
 
}


.catalog__inner h1{
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 113.5%;
    text-align: center;
    margin: 0 0 20px;
}

.catalog__imgs2{

    display: flex;
    justify-content: space-between;
  
}


.catalog__imgs2 img{
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/*FORM*/

.sub__form{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.sub__inner{
    display: flex;
    justify-content: center;
}

.form {
    background-image: linear-gradient(235deg, #F91414,#DA14DE,#2D1BFF);
    padding: 30px;
    border-radius: 10px;
    max-width: 650px;
}

.title {
    
    font-size: 36px;
    
    font-weight: 700;
    
    color: #fff;
    text-transform: uppercase;
}

.description {
    font-family: 'TradeGothic LT';
    font-size: 16px;
    margin-top: 25px;
    color: rgb(209 213 219);
}

.form div {
    display: flex;
    margin-top: 16px;
    column-gap: 8px;
}

.form div input {
    outline: none;
    line-height: 24px;
    font-size: 14px;
    color: rgb(255 255 255 );
    padding: 8px 14px;
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 6px;
    flex: 1 1 auto;
}
.form div input::placeholder {
    color: rgb(216, 212, 212);
}
.form div input:focus {
    border: 1px solid rgb(99 102 241);
}

.form div button {
    color: #fff;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 14px;
    background-color: #2D1BFF;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

/*FOOTER*/

.footer{

    height: 580px;
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    padding: 55px;
}

.footer__inner{
  
    display: flex;
    justify-content: space-between;
}


.footer__rows{
    display: flex;
    flex-wrap: nowrap;
    width: 662px;
    height: 383px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.footer__ul1{
    display: flex;
    width: 146px;
    height: 383px;
    flex-direction: column;
    justify-content: space-between;
}

.footer__col1 a {
    text-decoration: none;
    
    text-align: left;
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 113.5%;
    

    color: #FFFFFF;

}

.footer__title2{
    margin-bottom: 30px;
}

.footer__title2 a{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 113.5%;
    text-transform: uppercase;
    text-decoration: none;
   
    color: #FFFFFF;

}

.footer__ul2{
    display: flex;
    width: 197px;
    height: 259px;
    flex-direction: column;
    justify-content: space-between;
}


.footer__ul2 a{
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 94.5%;
    text-decoration: none;
    text-align: left;



    color: #A0A0A0;

}
.footer__title3 a{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 113.5%;
    text-transform: uppercase;
    text-decoration: none;
   
    color: #FFFFFF;

}

.footer__ul3{
    display: flex;
    width: 119px;
    height: 215px;
    flex-direction: column;
    justify-content: space-between;
}


.footer__ul3 a{
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 94.5%;
    text-decoration: none;
    text-align: left;



    color: #A0A0A0;

}

.footer__title3 {
    margin-bottom: 30px;
}

.footer__contacts{
    display: flex;
    justify-content: space-between;
    width: 245px;
    height: 48px;
}

.footer__bottom{
    width: 1534px;
    height: 29px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 3756px;

}


.footer__rows a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover {
    background-size: 100% 2px;
}
