@font-face {
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Trade-Gothic-Font/Trade\ Gothic\ LT\ Condensed\ No.\ 18.ttf') format('ttf');
}

@font-face {
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Trade-Gothic-Font/Trade\ Gothic\ LT.ttf') format('ttf');
}


  
body{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-size: 14px;
    color: #000000;

    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

*,
*:after,
*:before
{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.container{
    width: 100%;
    max-width: 1528px;
    margin: 0 auto;
}

.header{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: absolute;
    height: 100px;
    padding-top: 65px;
}

.header__inner{

    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    height: 100%;
    margin-right: 367px;
}

/*NAVIGATION*/
.navbar{
    height: 100%;
    width: 597px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-right: 267px;
}

.navlink{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.08em;
    display: inline-block;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
    position: relative;
}



.navbar a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.navbar a:hover {
    background-size: 100% 2px;
}


.nav__button{
    display: none;

}


/*SEARCH*/

.search{
    position: relative;
    width: 120px;
    height: 33.68px;
    background: #EBEBEB;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 18px;
}

.search .search__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 28px;
    background: #EBEBEB;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    
    cursor: pointer;
}

.search .search__icon::before{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    border: 1.3px solid #000000;
    transform: rotate(-5.38deg);
}

.search .search__icon::after{
    content: '';
    position: absolute;
    width: 6.21px;
    height: 0.84px;
    background:  #000000;
    transform: translate(7px,8px) rotate(244deg);
}

.search .input{
    position: relative;
    width: 120px;
    height: 33.68px;
    left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #EBEBEB;
    padding-right: 45px;
    padding-left: 0;
}

/*HEADER ICONS*/
.header__icons{
    position: relative;
    width: 60px;
    height: 22px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/*FORM*/

.wrapper{
    width: 420px;
    color: #000000;
}

.wrapper h1{
    font-size: 48px;
    text-align: center;
}

.wrapper .input__box{
    width: 100%;
    height: 60px;
    margin: 30px 0;
    position: relative;
}

.input__box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 70px;
    font-size: 20px;
    padding: 20px 45px 20px 20px;
    font-family: 'TradeGothic LT';
    
}

.input__box input::placeholder{
    color: #29292981;
}

.input__box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}

.wrapper .rem__fog{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
    flex-wrap: wrap;
}

.rem__fog label input{
    accent-color: #000;
    margin-left: 3px;
}

.rem__fog a{
    color: #000;
    text-decoration: none;
}

.rem__fog a:hover{
    text-decoration: underline;

}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #000;
    border: none;
    outline: none;
    border-radius: 70px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'TradeGothic LT CondEighteen';
    color: #FFFFFF;
}

.wrapper .reg__link{
    font-size: 14px;
    
    margin-top: 10px;
}
.reg__link p a{
    color: #000;
    text-decoration: none;
}

.reg__link p a:hover{
    text-decoration: underline;

}

.wrapper label{
    margin-bottom: 10px;
}

.rem__fog .reg__link{
    text-align: center;
}