@font-face {
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Trade-Gothic-Font/Trade\ Gothic\ LT\ Condensed\ No.\ 18.ttf') format('ttf');
}

@font-face {
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Trade-Gothic-Font/Trade\ Gothic\ LT.ttf') format('ttf');
}


  
body{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-size: 14px;
    color: #000000;
   
    background-color: #FFFFFF;
    position: relative;
}

*,
*:after,
*:before
{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  text-decoration: none;
  list-style: none;
}



.container{
    width: 100%;
    max-width: 1528px;
    margin: 0 auto;
}

.header{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
   position: absolute;
   height: 100px;
   padding-top: 65px;
}

.header__inner{

    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    height: 100%;
    margin-right: 367px;
}

/*NAVIGATION*/
.navbar{
    height: 100%;
    width: 597px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-right: 267px;
}

.navlink{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.08em;
    display: inline-block;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
    position: relative;
}

.navbar a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.navbar a:hover {
    background-size: 100% 2px;
}


.nav__button{
    display: none;

}

/*SEARCH*/

.search{
    position: relative;
    width: 120px;
    height: 33.68px;
    background: #EBEBEB;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 18px;
}

.search .search__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 28px;
    background: #EBEBEB;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    
    cursor: pointer;
}

.search .search__icon::before{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    border: 1.3px solid #000000;
    transform: rotate(-5.38deg);
}

.search .search__icon::after{
    content: '';
    position: absolute;
    width: 6.21px;
    height: 0.84px;
    background:  #000000;
    transform: translate(7px,8px) rotate(244deg);
}

.search .input{
    position: relative;
    width: 120px;
    height: 33.68px;
    left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #EBEBEB;
    padding-right: 45px;
    padding-left: 0;
}

/*HEADER ICONS*/
.header__icons{
    position: relative;
    width: 60px;
    height: 22px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

/*INTRO*/

.intro{
    height: 970px;
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.intro__inner{
    max-height: 803px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.intro__infa{
    width: 652px;
    height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.intro__title{
    width: 652.01px;


    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 91.5%;
    letter-spacing: -0.04em;
}

.intro__text{
    width: 580.34px;
    height: 94px;

    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 113.5%;

    color: #606060;

}

.intro__subtitle{
    width: 240px;
    height: 32px;


    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.5%;


    letter-spacing: -0.02em;

    color: #989898;
}


/*ABOUT*/

.about{
    width: 100%;
    height: 815px;
    
    padding: 100px 0;
}

.about__item{
    width: 483px;
    
}

.about__inner{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about__title{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 40px;
    color: #000000;
}

.about__subtitle{
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 10px;
    color: #000000;

}



/*BUY*/

.buy__section{
    width: 100%;
    max-width: 1265px;
  
    margin: 0 auto;
    padding: 100px 0;
}

.buy__section__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.gender{
    width: 350px;
    height: 85px;
    
}


.buy__title{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 113.5%;
    padding-bottom: 18px;
    text-align: left;
    color: #000000;

}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}



.btn:hover {
	background: rgb(0, 0, 0);
	color: #ffffff;
	
}

/*.btn a:hover{
    color: #fff;
}*/


.btn__size:hover {
	background: rgba(255, 255, 255, 0);
	color: #000000;
	box-shadow: inset 0 0 0 1px #000000;
}

.btn{
    display: inline-block;
    vertical-align: middle;
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 113.5%;
    text-align: center;
    text-decoration: none;
    color: #000000;
    border-radius: 7px;
    width: 170px;
    height: 39px;
    padding: 8px 53px;
    border: 1px solid #989898;
}

.size{
    margin-top: 51px;
    height: 232px;
    width: 450px;
    margin-bottom: 48px;
}

.buy__text
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 450px;
}

.buy__title1{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 113.5%;
    padding-bottom: 18px;
    text-align: left;
    margin-right: 273px;
    color: #000000;

}


.buy__title2{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 113.5%;
    padding-bottom: 18px;
    text-align: right;
    color: #989898;
    text-decoration: none;
}

.grid__inner{
    display: grid;
    vertical-align: middle;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    margin-bottom: 44px;
}

.btn__size{
    position: relative;
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 113.5%;
    text-decoration: none;
    text-align: center;
    color: #000000;
    width: 82px;
    height: 52px;
    border: 1px solid #989898;
    border-radius: 7px;
    padding: 14px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    align-items: center;
}

.buy__details{
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    text-decoration-line: underline;
    color: #606060;
    
}

.buy__item{
    height: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.customize{
    width: 495px;
    height: 92px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;

    justify-content: center;

   
}

.btn__customize{
    display: inline-block;
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    align-items: center;
    border-radius: 70px;
    position: relative;
    background-image: linear-gradient(235deg, #A4DE0F ,#FFF50F,#F91414,#DA14DE,#2D1BFF);
    margin: 0 auto;
}

.btn__customize span{
    padding: 32px 92px;
    background-color: #FFFFFF;
    font-size: 24px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 496px;
    height: 92px;
    border-radius: 70px;
    margin: 2px;

}

.sign__in{
    width: 495px;
    height: 92px;
   
}
.btn___sign{
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    padding: 32px 173px ;
    background: #000000;
    text-decoration: none;
    width: 496px;
    height: 92px;
    border-radius: 70px;
}

.inf__delivery{
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding:  31px 80px;
    background-color: #EBEBEB;
    width: 496px;
    height: 134px;
    display: inline-block;
}

/*FOOTER*/

.footer{

    height: 580px;
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    padding: 55px;
}

.footer__inner{
  
    display: flex;
    justify-content: space-between;
}


.footer__rows{
    display: flex;
    flex-wrap: nowrap;
    width: 662px;
    height: 383px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.footer__ul1{
    display: flex;
    width: 146px;
    height: 383px;
    flex-direction: column;
    justify-content: space-between;
}

.footer__col1 a {
    text-decoration: none;
    
    text-align: left;
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 113.5%;
    

    color: #FFFFFF;

}

.footer__title2{
    margin-bottom: 30px;
}

.footer__title2 a{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 113.5%;
    text-transform: uppercase;
    text-decoration: none;
   
    color: #FFFFFF;

}

.footer__ul2{
    display: flex;
    width: 197px;
    height: 259px;
    flex-direction: column;
    justify-content: space-between;
}


.footer__ul2 a{
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 94.5%;
    text-decoration: none;
    text-align: left;



    color: #A0A0A0;

}
.footer__title3 a{
    font-family: 'TradeGothic LT CondEighteen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 113.5%;
    text-transform: uppercase;
    text-decoration: none;
   
    color: #FFFFFF;

}

.footer__ul3{
    display: flex;
    width: 119px;
    height: 215px;
    flex-direction: column;
    justify-content: space-between;
}


.footer__ul3 a{
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 94.5%;
    text-decoration: none;
    text-align: left;



    color: #A0A0A0;

}

.footer__title3 {
    margin-bottom: 30px;
}

.footer__contacts{
    display: flex;
    justify-content: space-between;
    width: 245px;
    height: 48px;
}

.footer__bottom{
    width: 1534px;
    height: 29px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 3756px;

}

.footer__rows a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover {
    background-size: 100% 2px;
}
